@using Demo_Hangfire.Models
@model List<Product>
@{
    ViewBag.Title = "ViewProduct";
    Layout = "~/Views/Shared/Admin.cshtml";
    int i = 1;
}

<h2>ViewProduct</h2>

<div id="page-wrapper" style="min-height: 251px;">
    <div class="main-page">
        <div class="table-responsive bs-example widget-shadow">
            <a href="@Url.Action("AddNewProduct", "Admin")" style="margin: 30px" type="button" class="btn bg-success pv20 text-white fw600 text-center "><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</a>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên</th>
                        <th>Hình</th>
                        <th>Giá</th>
                        <th>Còn lại</th>
                        <th>Đã bán</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td>@item.Name</td>
                            <td><img style="width:150px" src="@Url.Content("~/Content/images/"+item.Image1)" alt="Alternate Text" /></td>
                            <td>@item.Price</td>
                            <td>@item.Remaining</td>
                            <td>@item.Sales</td>
                            <td>
                                <a href="@Url.Action("EditProduct", "Admin", new {@ID = item.ID})" data-id="@item.ID" class="bg-alert pv20 text-white fw600 text-center isEdit">Sửa</a>
                                <button data-id="@item.ID" class="bg-danger pv20 text-white fw600 text-center isDelete">Xóa</button>
                            </td>
                        </tr>
                        i++;
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
        <script>
            $(".isDelete").click(function () {
                var ID = $(this).attr("data-id");
                console.log(ID);
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: "GET",
                            url: "https://localhost:44389/Admin/DeleteProduct?ID=" + ID,
                            success: function (dataT) {
                                console.log(dataT) // show response from the php script.
                                if (dataT.mess == "success") {
                                    Swal.fire({

                                        icon: 'success',
                                        title: 'Xóa thành công',
                                        text: 'Bạn đã xóa  sản phẩm thành công',
                                        showConfirmButton: true,

                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            window.location.reload()
                                        }
                                    })
                                }
                                else {
                                    Swal.fire({

                                        icon: 'error',
                                        title: 'Xảy ra lỗi',
                                        text: 'Đã xảy ra lỗi, vui lòng thử lại sau!',
                                        showConfirmButton: true,

                                    })
                                }
                            }
                        });
                    }
                })

            })
        </script>
