@using Demo_Hangfire.Models
@model List<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ads-grid py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>A</span>ll
            <span>P</span>roducts
        </h3>

        <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
            <h3 class="heading-tittle text-center font-italic">Đồng Hồ Nữ</h3>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 product-men mt-5">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item text-center">
                                <img class="img-index" src="@Url.Content("~/Content/images/"+item.Image1)" alt="">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="@Url.Action("DetailProduct","Product", new { @id = item.ID })" class="link-product-add-cart">Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-info-product text-center border-top mt-4">
                                <h4 class="pt-1">
                                    <a href="@Url.Action("DetailProduct","Product", new { @id = item.ID })">@item.Name</a>
                                </h4>
                                <div class="info-product-price my-2">
                                    <span class="item_price">$ @item.Price</span>
                                    <del>$ @item.Price_discount</del>
                                </div>
                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                    <input data-ID="@item.ID" type="submit" name="submit" value="Add to cart" class="button btn addCart">

                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

